.market {
  height: 100vh;
  background-color: #27005d;

  .market-update {
    h1 {
      font-size: 2.5rem;
      color: #e4f1ff;
      margin: 40px 0;
    }
  }

  .pagination {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-top: 2rem;

    button {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
}

.ant-table-thead {
  background: linear-gradient(25deg, #2600fc, #ff00ea) !important;
  color: white;
}

.ant-table-cell {
  background: none !important;
  text-align: center !important;
}

.ant-table-tbody {
  background-color: #27005d;
  color: white;
}

td,
th {
  border-right: none !important;
  font-size: 1.3rem;
  font-weight: 700;
}
