.market {
  height: 100%;
  background-color: #0f051d;
  padding: 100px 0;

  .market-update {
    h1 {
      font-size: 2.5rem;
      color: #e4f1ff;
      margin: 40px 0;
    }
  }

  .activePage {
    color: white;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  }

  .pagination {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-top: 2rem;

    button {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
      border: none;
    }
  }
}
// .marketupdate-table {
.market-update {
  .ant-table-thead {
    background: linear-gradient(25deg, #2600fc, #ff00ea) !important;
    color: white;
  }

  .ant-table-cell {
    background: none !important;
    text-align: center !important;
  }

  .ant-table-tbody {
    background-color: #27005d;
    color: white;
  }

  td,
  th {
    border-right: none !important;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

// }
