.sticky-nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  li {
    a {
      color: white !important;
    }
  }
}

nav {
  padding: 2rem 4rem;
  font-size: 1.5rem;
  color: #aed2ff;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;

  .navbar {
    display: flex;
    justify-content: space-between;

    p {
      cursor: pointer;
    }

    ul {
      display: flex;
      list-style-type: none;
      gap: 2rem;

      li {
        a {
          text-decoration: none;
          color: #aed2ff;
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.socials-link {
  cursor: pointer;

  a {
    color: white;
    margin-left: 20px;
  }
}

.search-bar {
  input {
    padding: 10px 20px;
    text-align: start;
  }
  input:focus {
    outline: none;
  }
}

.input {
  border: 2px solid #aed2ff;
  border-radius: 20px;
}

::placeholder {
  color: #59a0f8;
}

a {
  cursor: pointer;
}
